* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
h1{
    color: rgb(249, 97, 8);
    padding-top: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
h3{
    color: rgb(249, 152, 48);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  